body {
	background-color: #bac1d4;
}

h2 {
	font-weight: 700;
}

h4 {
	font-weight: 350;
}

p, a {
	font-weight: 150;
}

a, a:hover, a:active, a:visited {
	color: #bac1d4;
}


.outerContainer {
	background-color: #bac1d4;
	margin-right: 30px;
	margin-left: 30px;
}

.innerContainer {
	background-color: #b77553; 
	height: 980px;
	border: solid 15px #bac1d4;
}

.resumeContent {
	text-align: center;
	color: #bac1d4;
	margin-top: 10%;
}

.profilePic {
	border-radius: 100%;
	margin-top: 20%;
}

.poweredByPi {
	width: 82px;
	margin-top: 12px;
}

	

/* 100 Pixels */
@media (min-width: 100px) {
	.profilePic {
		width: 80px;
	}
	
	.socialMedia{
		margin-top: 10%;
		margin-left: 15%;
	}
}
	
/* 250 Pixels */
@media (min-width: 250px) {
	.profilePic {
		width: 150px;
	}
	
	.socialMedia{
		margin-top: 10%;
		margin-left: 15%;
	}
	
	.socialMediaIcon {
		width: 48px;
	}	
}

/* 320 Pixels */
@media (min-width: 320px) {
	.profilePic {
		width: 150px;
		margin-left: 14%;
	}
	
	.socialMedia{
		margin-top: 63%;
		margin-left: 4%;
	}
	
	.socialMediaIcon{
		width: 32px;
	}
	
}

/* 360 Pixels */
@media (min-width: 360px) {
	.profilePic {
		width: 220px;
		margin-left: 5%;
	}
	
	.socialMedia{
		margin-top: 17.5%;
		margin-left: 2%;
	}
	
	.socialMediaIcon {
		width: 48px;
	}	
}

/* 375 Pixels */
@media (min-width: 375px) {
	.profilePic {
		width: 220px;
		margin-left: 7%;
	}
	
	.socialMedia{
		margin-top: 15%;
		margin-left: 3%;
	}
	
	.socialMediaIcon{
		width: 48px;
	}
}

/* 384 Pixels */
@media (min-width: 384px) {
	.profilePic {
		width: 220px;
		margin-left: 10%;
	}
	
	.socialMedia{
		margin-top: 14%;
		margin-left: 4%;
	}
}

/* 411 Pixels */
@media (min-width: 411px) {
	.profilePic {
		width: 250px;
		margin-left: 8%;
	}
	
	.socialMedia{
		margin-top: 0%;
		margin-left: 5%;
	}
	
	.socialMediaIcon {
		width: 48px;
	}
}

/* 480 Pixels */
@media (min-width: 480px) {
	.profilePic {
		width: 250px;
		margin-left: 16%;
	}
	
	.socialMedia{
		margin-top: 4%;
		margin-left: 5%;
	}
	
	.socialMediaIcon {
		width: 48px;
	}
}

/* 576 Pixels */
@media (min-width: 570px) {
	.profilePic {
		width: 325px;
		margin-left: 20%;
	}
	
	.socialMedia{
		margin-top: 10%;
		margin-left: 15%;
	}
	
	.socialMediaIcon {
		width: 64px;
	}
}

/* 600 Pixels */
@media (min-width: 600px) {
	.profilePic {
		width: 250px;
		margin-left: 5%;
		margin-top: 65%;
	}
	
	.socialMedia{
		margin-top: 54%;
		margin-left: 10%;
	}
}

/* 640 Pixels */
@media (min-width: 640px) {
	.profilePic {
		width: 250px;
		margin-left: 5%;
		margin-top: 65%;
	}
	
	.socialMedia{
		margin-top: 49%;
		margin-left: 10%;
	}
}

/* 768 Pixels */
@media (min-width: 768px) {
	.profilePic {
		width: 350px;
		margin-left: 10%;
		margin-top: 30%;
	}
	
	.socialMedia{
		margin-top: 38%;
		margin-left: 10%;
	}
}

/* 800 Pixels */
@media (min-width: 800px) {
	.profilePic {
		width: 375px;
		margin-left: 10%;
	}
	
	.socialMedia{
		margin-top: 36%;
		margin-left: 10%;
	}
}

/* 992 Pixels */
@media (min-width: 992px) {
	.profilePic {
		width: 400px;
		margin-left: 25%;
	}
	
	.socialMedia{
		margin-top: 10%;
		margin-left: 15%;
	}
}

/* 1024 Pixels */
@media (min-width: 1024px) {
	.profilePic {
		width: 450px;
		margin-left: 25%;
	}
	
	.socialMedia{
		margin-top: 28%;
		margin-left: 15%;
	}
}

/* 1200 Pixels */
@media (min-width: 1200px) {
	.profilePic {
		width: 500px;
		margin-left: 25%;
	}
	
	.socialMedia{
		margin-top: 20%;
		margin-left: 15%;
	}	
}

/* 1280 Pixels */
@media (min-width: 1280px) {
	.profilePic {
		width: 500px;
		margin-left: 25%;
	}
	
	.socialMedia{
		margin-top: 15.5%;
		margin-left: 15%;
	}	
}

/* 1440 Pixels */
@media (min-width: 1440px) {
	.profilePic {
		width: 500px;
		margin-left: 25%;
	}
	
	.socialMedia{
		margin-top: 11.75%;
		margin-left: 13%;
	}	
}

/* 1858 Pixels */
@media (min-width: 1858px) {
	.profilePic {
		width: 500px;
		margin-left: 25%;
		margin-top: 18%
	}
	
	.socialMedia{
		margin-top: 10.25%;
		margin-left: 15%;
	}
}