/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

html {
  overflow-y: scroll;
}

body {
  background: #fff7e6;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  margin: 0 auto;
  text-align: center;
}

h1 {
color: teal; 
  font-size: 28px;  
}

h2 {
	color: teal; 
}

h3 {
  color: teal; 
}

h5 {
  font-weight: 800;
  color: teal;
}

a {
  color: teal;
  text-decoration: none;
}

cite {
  white-space: nowrap;
}

code {
	text-align: left;
	
}

nav { 
  font-family: 'Unica One', cursive;
  display: grid;
  position: fixed;
  width: 100%;
  height: auto;
  padding: auto;
  margin: auto;
  grid-template: 10px / 8fr 1fr 1fr 1fr 1fr;
  background-color: teal;
  color: #fff7e6;
  z-index: 5;
}



.code {
	background-color: grey;
	opacity: 0.6;
}

.name {
  color: #fff7e6;
  grid-column: 1/2;
  align-content: center;
  align-items: center;
}

.active{
  color: black;
}

.home {
  color: #fff7e6;
  grid-area: blog;
  grid-column: 2/3;
  align-content: center;
  align-items: center;
  padding: 5px;
}

.blog {
  color: #fff7e6;
  grid-area: blog;
  grid-column: 3/4;
  align-content: center;
  align-items: center;
  padding: 5px;
}

.portfolio {
  color: #fff7e6;
  grid-area: portfolio;
  grid-column: 4/5;
  align-content: center;
  align-items: center;
  padding: 5px;
}

.resume {
  color: #fff7e6;
  grid-area: resume;
  grid-column: 5/6;
  align-content: center;
  align-items: center;
  padding: 5px;
}


.track-list {
	font-size: 9px;
}



.indent-1 {
	text-indent: 20px;
}

.indent-2 {
	text-indent: 40px;
}

.indent-3 {
	text-indent: 60px;
}

.indent-4 {
	text-indent: 80px;
}



@media screen and (min-width: 720px) {
	
	.album {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
}

	.album-art {
		grid-column: 2/3;
		padding-top:15em;
}
	
	.album-art img {
		width: 350px;
		height: 350px;
}

	.album-music {
		grid-column: 3/4;
		padding-top:15em;
}
}



@media screen and (max-width: 720px) {
	
	.album {
		display: grid;
		grid-template-rows: 1fr 1fr;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
}

	.album-art {
		grid-row: 1/2;
		padding-top:4em;
		margin: auto;
}	
	
	.album-art img {
		width: 350px;
		height: 350px;
}

	.album-music {
		grid-row: 2/3;
		padding-top:4em;
}
}



#spaghetti {
	color: #83131d;
}

#remixes {
	color: #879aa9;
}



.outer-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	height: 100vh;
}



.inner-container {
	
}


.heading {
	font-family: 'Unica One', cursive;
	font-size: 60px;
	opacity: 0.8;
  
}

.subheading1 {
	font-family: 'Cousine', monospace;
	color: black;
	font-size: 20px;
}

.subheading2 {
	font-family: 'Cousine', monospace;
	color: black;
	font-size: 20px;
}

.splashpage-content {
	font-family: 'Cousine', monospace;
	color: black;
	font-size: 14px;
}

#outerSpashpageContainer {
	background-image: url("splashpage (1).jpeg");
	background-repeat: no-repeat; 
}

#splashpage-container {
	padding: 100px;
	margin-bottom: 20%;
	margin-left: 60%;
	color: #fff7e6;
	text-align: center;
	border-radius: 1%;
}




#album-container {
	padding-top: 115px;
	padding-bottom: 75px;
	padding-left: 75px;
	padding-right: 75px;
	width: 25%;
	text-align: center;
}

/* add responise design for blog*/ 


#blog-container {
	font-family: 'Cousine', monospace;
	border-radius: 1%;
	flex-shrink: 3;

}

.blog-post-content {

}

.blog-post {
	max-width: 900px;
	background: white;
	border-color: white;
	border-style: solid;
	border-width: 13px;
}

.blogpost code {
	text-align: left;
	background-color: grey;
	opacity: 0.6;
}

.blog-image-container img {
	
	max-width: 96%;
	min-width: 23%;
	max-height: 54%;
	min-height: 18%;
	/*
	1920x1080
	16:9
	width: 400px;
	height: 368px; 
	*/
	
}

.blog-image-container iframe {
	

	/*
	1920x1080
	16:9
	width: 400px;
	height: 368px; 
	*/
	
}



.blog-post-header {
		color: teal;
}



.artistname {
  color: teal;
  font-weight: 900;
}

.albumart {
  height: 200px;
  width: 200px;
}

.albumart:hover {

}




.profilepic {
  border-radius: 100%;  
  height: 200px;
}








.resumewelcome {
  color: white;
}

.company {
  color: teal;
  font-weight: 900
}

.college {
  color: teal;
  font-weight: 900
}

.content {
  text-align: left;
  box-sizing: border-box;
  float: right;
  clear: right;
  padding-left: 28%;
  padding-right: 3%;
  padding-top: 6%;
  padding-bottom: 6%;
}

.header {
  background-color: teal;
  color: white;
  box-sizing: border-box;
  height: 100%;
  width: 25%;
  position: fixed;
  float: left;
  clear: left;
  padding: 5%;
  text-align: center;
  overflow: hidden;
  font-weight: 900 
}



.header .profilepic {
  border-radius: 100%;  
  height: 20%;
}

.header .email {
	color: #fff7e6;
}

.header .socialmedia {
  padding: 15%;
}

.header .subheading {
  position: relative;  
  
}




/* entire container, keeps perspective */
.flip-container {
	perspective: 350px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back, .flipper {
	width: 350px;
	height: 350px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	background-color: white;
}

.back-album-art {
	position: relative;
	width: 100%
	
}

.back-album-text {
	position: absolute;
	top: 0;
	left: 0;
	Width: 100%;
}

