h1 {
  color: #000;
  text-align: center;
}

p {
  color: gray;
}

body {
  background-color: lightblue;
}

a {
  color: gray;
}

.container {
  background-color: #fefefe;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
  padding: 10px 2px;
  text-align: center;
  transition-duration: 1s;
  width: 400px;
}

.container:hover {
  background-color: #ababab;
  transition-duration: 1s;
}

.container:hover p, .container:hover a {
  color: #fff;
  transition-duration: 1s;
}

.ui-panel {
  background-color: #555;
  border-radius: 5px;
  height: 50px;
  left: 20px;
  padding: 15px;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 200px;
}

.ui-panel h4 {
  color: white;
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: -5px;
}

.ui-panel label {
  color: white;
  margin-right: 20px;
}
