body {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	background-repeat: no-repeat;
}

.home {
	background-image: url("misc (5).jpg");
}

.services {
	background-image: url("misc (20).jpg");
}

.lessons {
	background-image: url("misc (19).jpg");
}

.kevinLyle {
	background-image: url("misc (21).jpg");
}

.inventory {
	background-image: url("misc (17).jpg");
}

@media screen and (max-width: 700px) {
	.stripe-1 {
		margin: 0;
		margin-left: 3%;
		padding-top: 15px;
		padding-bottom: 30px;
		background-color: black;
		color: white;
		width: 350px;
		text-align: center;
	}
}

@media screen and (min-width: 701px) {
	.stripe-1 {
		margin: 0;
		margin-left: 15%;
		padding-top: 15px;
		padding-bottom: 30px;
		background-color: black;
		color: white;
		width: 350px;
		text-align: center;
	}
}

.stripe-1 li {
	text-align: left;
}

.stripe-1 img {
	width: 350px;
	
}

.stripe-1 a {
	color: #611110;
	text-decoration: none; 
}

.stripe-1 h3 {
	color: #611110;
	text-decoration: underline; 
}

nav {
	margin-left: 95px;
	width: 180px;
	border: solid #611110 1px;
}

.navDiv {
	padding-left: 8px;
	padding-bottom: 30px;
}

.contentContainer {
	padding: 25px;
}

.facebook {
	color: blue;
}
