h1 {
  color: #000;
  text-align: center;
}

p {
  color: gray;
}

body {
  background-color: lightblue;
}

a {
  color: gray;
}

.container {
  background-color: #fefefe;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 auto;
  padding: 10px 2px;
  text-align: center;
  transition-duration: 1s;
  width: 32em;  
}

.container:hover {
  background-color: #ababab;
  transition-duration: 1s;
}

.container:hover p, .container:hover a {
  color: #fff;
  transition-duration: 1s;
}


